.meter {
  @apply w-full h-[0.5rem] rounded mx-auto mb-2;
}

/* Firefox */
@supports (-moz-appearance: none) {
  /* Firefox: Fix meter's background colour */
  .meter {
    @apply border-0 rounded;
    background: rgb(226 232 240 / var(--tw-bg-opacity));
  }

  /* Dark Theme Workaround: Prefix "dark:" does not apply CSS when used in *.module.css files. */
  :global(.dark) .meter {
    background: rgb(21 21 21 / var(--tw-bg-opacity));
  }

  /* Change element background colour when its parent's background is the same colour (eg.: modals) */
  :global(.dark) *:has(> :is(.bg-dark-mode-foreground, [class*='dialogPanel'])) .meter {
    background: rgb(27 28 34 / var(--tw-bg-opacity));
  }
}

.meter::-webkit-meter-inner-element {
  @apply block;
}

/* Chrome/Safari/Opera */
.meter::-webkit-meter-bar {
  @apply border-0 rounded bg-light-mode-background-secondary dark:bg-dark-mode-foreground;
  /* Safari: Fix meter's background colour */
  background: rgb(226 232 240 / var(--tw-bg-opacity));
}

/* Dark Theme Workaround: Prefix "dark:" does not apply CSS when used in *.module.css files. */
:global(.dark) .meter::-webkit-meter-bar {
  @apply bg-dark-mode-foreground;
  /* Safari: Fix meter's background colour */
  background: rgb(21 21 21 / var(--tw-bg-opacity));
}

/* Change element background colour when its parent's background is the same colour (eg.: modals) */
:global(.dark) *:has(> :is(.bg-dark-mode-foreground, [class*='dialogPanel'])) .meter::-webkit-meter-bar {
  @apply bg-dark-mode-background;
}

/* Chrome/Safari/Opera */
.meter[value='1']::-webkit-meter-optimum-value {
  @apply bg-light-mode-error dark:bg-dark-mode-error;
}
.meter[value='2']::-webkit-meter-optimum-value {
  @apply bg-light-mode-warning dark:bg-dark-mode-warning;
}
.meter[value='3']::-webkit-meter-optimum-value {
  @apply bg-light-mode-warning dark:bg-dark-mode-warning;
}
.meter[value='4']::-webkit-meter-optimum-value {
  @apply bg-light-mode-success dark:bg-dark-mode-success;
}

/* Dark Theme Workaround: Prefix "dark:" does not apply CSS when used in *.module.css files. */
:global(.dark) .meter[value='1']::-webkit-meter-optimum-value {
  @apply bg-dark-mode-error;
}
:global(.dark) .meter[value='2']::-webkit-meter-optimum-value {
  @apply bg-dark-mode-warning;
}
:global(.dark) .meter[value='3']::-webkit-meter-optimum-value {
  @apply bg-dark-mode-warning;
}
:global(.dark) .meter[value='4']::-webkit-meter-optimum-value {
  @apply bg-dark-mode-success;
}

/* Firefox */
.meter[value='1']::-moz-meter-bar {
  @apply bg-light-mode-error dark:bg-dark-mode-error;
}
.meter[value='2']::-moz-meter-bar {
  @apply bg-light-mode-warning dark:bg-dark-mode-warning;
}
.meter[value='3']::-moz-meter-bar {
  @apply bg-light-mode-warning dark:bg-dark-mode-warning;
}
.meter[value='4']::-moz-meter-bar {
  @apply bg-light-mode-success dark:bg-dark-mode-success;
}

/* Dark Theme Workaround: Prefix "dark:" does not apply CSS when used in *.module.css files. */
:global(.dark) .meter[value='1']::-moz-meter-bar {
  @apply bg-dark-mode-error;
}
:global(.dark) .meter[value='2']::-moz-meter-bar {
  @apply bg-dark-mode-warning;
}
:global(.dark) .meter[value='3']::-moz-meter-bar {
  @apply bg-dark-mode-warning;
}
:global(.dark) .meter[value='4']::-moz-meter-bar {
  @apply bg-dark-mode-success;
}
