@import './fonts.css';
@import './typography.css';
@import './form.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  @apply font-sans;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  width: 100%;
  height: 100%;
}

body {
  @apply bg-light-tint text-black;
}

[class*='bg-primary'],
[class*='bg-dark'] {
  @apply text-white;
}

[class*='bg-secondary'],
[class*='bg-medium'],
[class*='bg-light'] {
  @apply text-black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    @apply bg-dark text-white;
  }
}
