@layer base {
  h1,
  h2,
  h3,
  fieldset > legend {
    @apply mb-4;
  }

  h1 {
    @apply m-0 dark:text-white;
  }

  h2 {
    @apply text-2xl;
  }

  h3,
  h2 + fieldset > legend {
    @apply text-lg;
  }

  a {
    @apply text-secondary underline underline-offset-2 transition-colors;
  }

  a:hover {
    @apply text-secondary-tint;
  }

  a:visited {
    @apply text-secondary;
  }

  @media (prefers-color-scheme: dark) {
    a {
      @apply text-secondary-tint;
    }

    a:hover {
      @apply text-secondary;
    }

    a:visited {
      @apply text-secondary-tint;
    }
  }
}
